

body{
    margin: 0;
    background-image: url("../../images/bg.png");
    width: 100%;
    height: 100vh;
    
}
header{
 margin-top: 20px;
     


 
   
  background-color: rgba(255, 255, 255, 0);
   width: 100%;
    display: flex;
    z-index: 1000; 
    height: 70px;
    justify-content: space-between;
    align-items: center;

}
.logdiv{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 40px;
    width: 90px;
    margin: 14px;
    
    
        border: 2px ;
  border-radius: 20px;
  
}
#logo{

    
      
  
   
     width: 250px;   
  height: auto;

}
.a{
  font-size: 20px;
  font-family: monospace;
    margin: 50px;
     text-decoration: none;
     color: white;

}
.logdiv{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 40px;
    width: 90px;
    margin: 14px;
    
    
        border: 2px ;
  border-radius: 20px;
  
}
.alogin{
  font-size: 20px;
  font-family: monospace;
  
  background-color: white;
  border-radius: 40px;
    width: 100px;
    height: 45px;
    align-items: center;
    display: flex;
    justify-content: center;
     text-decoration: none;
     color: blue;
    

}
main{
  display: grid;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.singup{
 margin-top: 2vh;
  display: grid;
  background-color: aqua;
  width: 400px;
  align-items: center;
  justify-content: center;
 
  height: 80vh;
   overflow: hidden;   
    background: rgb(255 255 255 / 62%);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    border: 1px solid rgb(255 255 255 / 51%);
    box-shadow: 0 8px 32px 0 rgb(28 28 28 / 25%);
    font-family: monospace , 'Courier New', Courier, monospace;

  
}
.singup h1{
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: blue;
  
  



}
.singup input{
  outline: none;
  background-color: rgba(255, 255, 255, 0.653);
  border: 0;
  width: 250px;
  height: 35px;
  border-radius: 3px;
  padding-left: 12px;
 
}
.singup input::placeholder {
  
  padding-left: 12px;
  
}

.dbutton{
  width: 100%;
  display: flex;
  justify-content: center;
}
.dbutton button{
  font-family:  monospace;
  font-size: 15px;
  color: blue;
  border: none;
  width: 120px;
  height: 35px;
  border-radius: 12px;
  background-color: yellow;
}


