

body{
    margin: 0;
background-color: rgb(212 249 98 / 92%);    width: 100%;
    height: 100vh;
    
}

*{
  font-family: system-ui;
}
header{
 margin-top: 20px;
     


 
   
  background-color: rgba(255, 255, 255, 0);
   width: 100%;
    display: flex;
    z-index: 1000; 
    height: 70px;
    justify-content: space-between;
    align-items: center;

}
.logdiv{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 40px;
    width: 90px;
    margin: 14px;
    
    
        border: 2px ;
  border-radius: 20px;
  
}
#logo{

    
      
  
   
     width: 250px;   
  height: auto;

}

main{
  display: grid;
  justify-content: center;
  width: 100%;
  height: 100%;
}
form{
border-radius: 12px;
  display: flex;
  height: 80vh;
  background-color: white;
}
.kool{

    border-radius: 12px 30% 30% 12px;
    width: 400px;
    background-color: slateblue;
    display: grid;
    text-align: center;
    align-items: baseline;
    height: 80vh;
    justify-content: space-around;
    align-content: center;
    justify-items: center;
}
.kool h1{

    height: 12px;
    color: white;
}
.kool p{
  font-size: small;
  margin: 20px;
  color: white;
}
.kool button{
  border-radius: 8px;
  border: 2px solid white;
  outline: none;
display: grid;
    text-align: center;
    justify-content: center;
    width: 140px;
    height: 40px;
    align-items: center;
    justify-items: stretch;
    background: none;
    
}
.kool button a{

    color: white;
    font-size: 15px;
    text-decoration: none;
    background: none;
 
}



.singup{
   height: 80vh;
    display: grid;
    background: none;
    width: 400px;
    align-items: baseline;
    justify-content: space-evenly;
    overflow: hidden;
    font-family: monospace, 'Courier New', Courier, monospace;
    justify-items: center;
    align-content: space-evenly;
}
.singup h1{
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  
  



}
.singup input{
  outline: none;
  background-color: rgba(116, 111, 111, 0.404);
  border: 0;
  width: 250px;
  height: 40px;
  border-radius: 3px;
  padding-left: 12px;
 
}
.singup input::placeholder {
  
  padding-left: 12px;
  
}


#submit{
  background-color: slateblue;
  padding-left: 0%;
 
  font-size: 15px;
  color: white;
  border: 0;
  width: 264px;
  height: 35px;
  border-radius: 3px;
}


