

body{
    margin: 0;
    background-image: url("../../images/bg.png");
    width: 100%;
    height: 100vh;
    
}
header{
 margin-top: 20px;
     


 
   
  background-color: rgba(255, 255, 255, 0);
   width: 100%;
    display: flex;
    z-index: 1000; 
    height: 70px;
    justify-content: space-between;
    align-items: center;

}
.logdiv{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 40px;
    width: 90px;
    margin: 14px;
    
    
        border: 2px ;
  border-radius: 20px;
  
}
#logo{

    
      
  
   
     width: 250px;   
  height: auto;

}
.a{
  font-size: 20px;
  font-family: monospace;
    margin: 50px;
     text-decoration: none;
     color: white;

}
.logdiv{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 40px;
    width: 90px;
    margin: 14px;
    
    
        border: 2px ;
  border-radius: 20px;
  
}
.alogin{
  font-size: 20px;
  font-family: monospace;
  
  background-color: white;
  border-radius: 40px;
    width: 100px;
    height: 45px;
    align-items: center;
    display: flex;
    justify-content: center;
     text-decoration: none;
     color: blue;
    

}
main{
  display: grid;
  justify-content: center;
  width: 100%;
  height: 100%;
}
form{
border-radius: 12px;
  display: flex;
  height: 80vh;
  background-color: white;
}
.kool{
   border-radius: 12px  30% 30% 12px;
  width: 400px;
  background-color: slateblue;
    display: grid;
    text-align: center; 
    align-items: center; 
 height: 80vh;
}
.kool h1{
  height: 12px;
}

.singup{
   height: 80vh;
    display: grid;
    background: none;
    width: 400px;
    align-items: baseline;
    justify-content: space-evenly;
    overflow: hidden;
    font-family: monospace, 'Courier New', Courier, monospace;
    justify-items: center;
    align-content: space-evenly;
}
.singup h1{
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: blue;
  
  



}
.singup input{
  outline: none;
  background-color: rgba(116, 111, 111, 0.653);
  border: 0;
  width: 250px;
  height: 35px;
  border-radius: 3px;
  padding-left: 12px;
 
}
.singup input::placeholder {
  
  padding-left: 12px;
  
}


#submit{
  background-color: slateblue;
  padding-left: 0%;
  font-family:  monospace;
  font-size: 15px;
  color: white;
  border: 0;
  width: 264px;
  height: 35px;
  border-radius: 3px;
}


