::-webkit-scrollbar {
  display: none;
}
body{
 
  z-index: 1000;
   
  width: 100%;
height: 400vh;
    width: auto;
    margin: 0%;
}


#kal{
    width: 100%;
    height: 100%;
    background-image: url("../images/download.jpeg");
}
header{
  margin-top: 20px;
     


  position: absolute;
   
  background-color: rgba(255, 255, 255, 0);
   width: 100%;
    display: flex;
    z-index: 1000; 
    height: 70px;
    justify-content: space-between;
    align-items: center;

}

#logo{

    
      
  
   
     width: 250px;   
  height: auto;

}

.a{
  font-size: 20px;
  font-family: monospace;
    margin: 50px;
     text-decoration: none;
     color: white;

}
.logdiv{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 40px;
    width: 90px;
    margin: 14px;
    
    
        border: 2px ;
  border-radius: 20px;
  
}

#log{
   color:  blue;
}



#login{
  

    display: flex;
    justify-content: center;

}
.alogin{
  font-size: 20px;
  font-family: monospace;
  
  background-color: white;
  border-radius: 40px;
    width: 100px;
    height: 45px;
    align-items: center;
    display: flex;
    justify-content: center;
     text-decoration: none;
     color: blue;
    

}
#vid{
    width: 100%;
    height: px;
    object-fit: cover;    
    object-position: center;
}



.btn {
  position: absolute;

    top: 150px;
    left: 80px;
    font-size: 60px;
    font-family: fantasy;
  
      color: #f98f22;
  
}

#logo{

    
      
  
   
     width: 250px;   
  height: auto;
}