.divform{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;

}
.form{
    overflow: hidden;   
    background: rgb(255 255 255 / 62%);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    border: 1px solid rgb(255 255 255 / 51%);
    box-shadow: 0 8px 32px 0 rgb(28 28 28 / 25%);
    display: grid;
    gap: 10px;
    position: relative;
    width: 40%;
    margin-bottom: 50px;
    height: 500px;
}
.pform{
    overflow: hidden;   
    background: rgba(93, 228, 255, 0.62);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    border: 1px solid rgb(255 255 255 / 51%);
    box-shadow: 0 8px 32px 0 rgb(28 28 28 / 25%);
    display: grid;
    gap: 10px;
    position: relative;
    width: 40%;
    margin-bottom: 50px;
    height: 500px;
}
.hform{

    
    display: flex;
    align-items: center;

}
.contries{
    
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 20px;
    width: 150px;
    height: 40px;
    align-items: center;
    border-radius: 17px;
    background-color: blue;
    margin: 0 auto;
    right: 18px;
}
.not{
    color: white;
    position: relative;
    border-radius: 17px 0 20px 0 ;
  background-color: blue;
    width: 60px;
    justify-content: space-around;
    display: flex;
    align-items: center;
    bottom: 8px;
    height: 40px;
    
}
.mform {
  isolation: isolate;
  overflow: hidden;
  border-radius: 12px;
  width: 100%;
  height: 250px;
  position: relative;
}

.slides {
  will-change: transform;
  display: flex;
  width: 200%;
  animation: slide 10s linear infinite;
  height: 100%;
}

.slides img {
  
  object-fit: cover;
  flex-shrink: 0;
  transform: translateZ(0);
  image-rendering: auto;
}

@keyframes slide {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); } 
}

.fbut{
display: flex;
justify-content: center;
}
.fbut button{
    color: white;
background-color: blue;
border: 0;
width: 100px;
height: 40px;
border-radius: 20px;
}
.loc{
margin: 0;
font-family: auto;

}
.ploc{
margin: 0;

left: 26px;


font-family: 'Hina Mincho';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 14px;
text-align: center;

color: black;




}


.hform-palse{

    
    display: flex;
    align-items: center;

}
.contries-palse{
    
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 20px;
    width: 150px;
    height: 40px;
    align-items: center;
    border-radius: 17px;
    background-color: blue;
    margin: 0 auto;
    right: 18px;
}
.not-palse{
    color: white;
    position: relative;
    border-radius: 17px 0 20px 0 ;
  background-color: blue;
    width: 60px;
    justify-content: space-around;
    display: flex;
    align-items: center;
    bottom: 8px;
    height: 40px;
    
}
.mform-palse {
  isolation: isolate;
  overflow: hidden;
  border-radius: 12px;
  width: 100%;
  height: 250px;
  position: relative;
}

.slides-palse {
  will-change: transform;
  display: flex;
  width: 200%;
  animation: slide 10s linear infinite;
  height: 100%;
}

.slides-palse img {
  
  object-fit: cover;
  flex-shrink: 0;
  transform: translateZ(0);
  image-rendering: auto;
}

@keyframes slide {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); } 
}

.fbut-palse{
display: flex;
justify-content: center;
}
.fbut-palse button{
    color: white;
background-color: blue;
border: 0;
width: 100px;
height: 40px;
border-radius: 20px;
}
.loc-palse{
margin: 0;
font-family: auto;

}
.ploc-palse{
margin: 0;

left: 26px;


font-family: 'Hina Mincho';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 14px;
text-align: center;

color: black;




}


