.divform{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;

}
.form{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
            0 10px 15px rgba(0, 0, 0, 0.05);

    color: #FFFFFF;
    display: grid;
    gap: 10px;
     position: relative;
    border-radius: 17px;
   background: linear-gradient(360deg, #000000 0%, #76807F 50%);
    width: 30%;
    margin-bottom: 50px;
    height: 400px;
}
.hform{
    
    display: flex;
    align-items: center;

}
.contries{
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 14px;
    width: 140px;
    height: 40px;
    align-items: center;
    border-radius: 17px;
    background-color: blue;
    margin: 0 auto;
    right: 18px;
}
.not{
   
    position: relative;
    border-radius: 17px 0 20px 0 ;
  background-color: blue;
    width: 60px;
    justify-content: space-around;
    display: flex;
    align-items: center;
    bottom: 6px;
}
.mform{
    height: 150px;
    width: 100%;
    justify-content: center;
    border-radius: 12px;
}
.fbut{
display: flex;
justify-content: center;
}
.fbut button{
background-color: blue;
border: 0;
width: 100px;
height: 40px;
border-radius: 20px;
}
.loc{
margin: 0;
}
.ploc{
margin: 0;
width: 100%;
height: 23px;
left: 26px;
top: 241px;

font-family: 'Hina Mincho';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 14px;
text-align: center;

color: #FFFFFF;




}


