*{
    font-family: 'Open Sans', sans-serif;



    font-size: large;

    
}
.top{
      display: flex;
    align-items: center;
  font-family: auto;
  font-size: xx-large;
  margin: 50px;
}

::-webkit-scrollbar {
  display: none;
}
body{
  position: absolute;
  z-index: 1000;
   background-color: #ecfffb;
  width: 500%;
height: 400vh;
    width: auto;
    margin: 0%;
}

header{
  margin-top: 20px;
     


  position: absolute;
   
  background-color: rgba(255, 255, 255, 0);
   width: 100%;
    display: flex;
    z-index: 1000; 
    height: 70px;
    justify-content: space-between;
    align-items: center;

}

#logo{

    
      
  
   
     width: 250px;   
  height: auto;

}

.a{
  font-size: 20px;
  font-family: monospace;
    margin: 50px;
     text-decoration: none;
     color: white;

}
.logdiv{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 40px;
    width: 90px;
    margin: 14px;
    
    
        border: 2px ;
  border-radius: 20px;
  
}

#log{
   color:  blue;
}



#login{
  

    display: flex;
    justify-content: center;

}
.alogin{
  font-size: 20px;
  font-family: monospace;
  
  background-color: white;
  border-radius: 40px;
    width: 100px;
    height: 45px;
    align-items: center;
    display: flex;
    justify-content: center;
     text-decoration: none;
     color: blue;
    

}
#vid{
    width: 100%;
    height: px;
    object-fit: cover;    
    object-position: center;
}



.btn {
  position: absolute;

    top: 150px;
    left: 80px;
    font-size: 60px;
    font-family: fantasy;
  
      color: #f98f22;
  
}
.search:not(:placeholder-shown) {
  background: transparent; 
  outline: none ;

}
.vid{
  width: 100%;
  mix-blend-mode: multiply; 
  height: 600px;
  object-fit: cover;
}





